<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{admin/img/favicon.ico}">

    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{admin/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{admin/css/owl.transitions.css}">
    <!-- animate CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/animate.css}">
    <!-- normalize CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/normalize.css}">
    <!-- meanmenu icon CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/meanmenu.min.css}">
    <!-- main CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/main.css}">
    <!-- educate icon CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/educate-custon-icon.css}">
    <!-- morrisjs CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{admin/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{admin/css/calendar/fullcalendar.print.min.css}">
    <!-- style CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/style.css}">
    <!-- responsive CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{admin/css/responsive.css}">
    <!-- modernizr JS
      ============================================ -->
    <script th:src="@{admin/js/vendor/modernizr-2.8.3.min.js}"></script>
<!--    <script type="text/javascript">-->
<!--        function getdates() {-->
<!--            const _dt = new Date();-->
<!--            document.getElementById('createAt').innerHTML=[_dt.getFullYear(),_dt.getMonth(),_dt.getDate()].join('-')+' '+[_dt.getHours(),_dt.getMinutes(),_dt.getSeconds()].join(':')-->
<!--        }-->
<!--    </script>-->
</head>

<body>
<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" th:src="@{admin/img/logo/logo.png}" alt=""/></a>
            <strong><a href="index.html"><img th:src="@{admin/img/logo/logosn.png}" alt=""/></a></strong>
        </div>
        <!--Start left-scrollbar-->
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Landing Page" href="index.html" aria-expanded="false"><span
                                class="fa fa-home icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Home</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" href="listUser.html" aria-expanded="false"><span
                                class="fa fa-user icon-wrap"></span> <span class="mini-click-non">User</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="listUser.html"><span class="mini-sub-pro">All Users</span></a></li>
                            <li><a href="listBannedUser.html"><span class="mini-sub-pro">All Banned Users</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="listCar.html" aria-expanded="false"><span
                                class="fa fa-automobile icon-wrap"></span> <span class="mini-click-non">Car</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="listCar.html"><span class="mini-sub-pro">All Cars</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/brand}" aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-hamburger icon-wrap"></span> <span
                                class="mini-click-non">Brand</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/brand}"><span class="mini-sub-pro">All Brands</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="listAuction.html" aria-expanded="false"><span
                                class="fa fa-window-maximize icon-wrap"></span> <span class="mini-click-non">Auction Room</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="listAuction.html"><span class="mini-sub-pro">All Auction Room</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="listModel.html" aria-expanded="false"><span
                                class="glyphicon glyphicon-th-large icon-wrap"></span> <span class="mini-click-non">Model</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="listModel.html"><span class="mini-sub-pro">All Model</span></a></li>
                            <li><a th:href="@{/modelSpec}"><span class="mini-sub-pro">All Model Specification</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="listNews.html" aria-expanded="false"><span
                                class="fa fa-newspaper-o icon-wrap"></span> <span class="mini-click-non">News</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/news}"><span class="mini-sub-pro">All News</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><span
                                class="fa fa-gamepad icon-wrap"></span> <span
                                class="mini-click-non">Game Play</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="#"><span class="mini-sub-pro">Game </span></a></li>
                            <li><a href="#"><span class="mini-sub-pro">Play </span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="wishlist.html" aria-expanded="false"><span
                                class="fa fa-heart icon-wrap"></span> <span class="mini-click-non">Wishlist</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="wishlist.html"><span class="mini-sub-pro">View</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--End left-scrollbar-->
    </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="index.html"><img class="main-logo" th:src="@{admin/img/logo/logo.png}" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="fa fa-align-justify"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12"></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                                   class="nav-link dropdown-toggle">
                                                    <img th:src="@{admin/img/profile/user.png}" alt=""/>
                                                    <span class="admin-name">Prof.Anderson</span>
                                                    <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                <ul role="menu"
                                                    class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li><a href="#"><span
                                                            class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a href="index.html">Home</a></li>

                                    <li><a data-toggle="collapse" data-target="#demoevent" href="#">User <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul id="demoevent" class="collapse dropdown-header-top">
                                            <li><a href="listUser.html">All Users</a>
                                            </li>
                                            <li><a href="listBannedUser.html">All Banned Users</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Car <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="listCar.html">All Cars</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Brand <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/brand}">All Brands</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Auction Room <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="listAuction.html">All Auction Room</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Model <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="listModel.html">All Model</a>
                                            </li>
                                            <li><a th:href="@{/modelSpec}">All Model Specification</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">News <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/news}">All News</a>
                                            </li>
                                            <li><a href="create-news.html">Create New News</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Game Play<span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul id="demopro" class="collapse dropdown-header-top">
                                            <li><a href="#">Game</a>
                                            </li>
                                            <li><a href="#">Play</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Wishlist<span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul id="demopro" class="collapse dropdown-header-top">
                                            <li><a href="wishlist.html">All</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list single-page-breadcome">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <form th:action="@{/news}" method="get" role="search" class="sr-input-func">
                                            <input id="search" name="search" type="text" placeholder="Search..."
                                                   class="search-int form-control">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">News</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Content area-->
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>News List</h4>
                        <div class="add-product">
                            <a href="#myCreateModal" data-toggle="modal">Create New News</a>
                        </div>
                        <div th:if="${success} != null">
                            <div class="alert alert-success text-center" role="alert">[[${success}]]
                            </div>
                        </div>
                        <div th:if="${fail} != null">
                            <div class="alert alert-danger text-center" role="alert">[[${fail}]]
                            </div>
                        </div>
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>No</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Image</th>
                                    <th>Date Time</th>
                                    <th>Setting</th>
                                </tr>
                                <tr th:each="c,loop :${newss}">
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${c.title}"></td>
                                    <td th:text="${c.author}"></td>
                                    <td><img th:src="${c.img}" alt=""/></td>
                                    <td th:text="${c.createAt}"></td>
                                    <td>
                                        <button title="View" class="pd-setting-ed"><a data-toggle="modal"
                                                                                      th:attr="data-target='#myViewModal'+*{c.id}"><i
                                                class="fa fa-eye" aria-hidden="true"></i></a></button>
                                        <button title="Edit" class="pd-setting-ed"><a data-toggle="modal"
                                                                                      th:attr="data-target='#myUpdateModal'+*{c.id}"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><a
                                                th:href="@{/news/delete/{id}(id=${c.id})}"><i class="fa fa-trash-o"
                                                                                              aria-hidden="true"></i></a>
                                        </button>
                                    </td>
                                    <!-- Start View pop-up-->
                                    <div th:id="'myViewModal'+*{c.id}" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">View</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div style="margin: 0 auto;" class="profile-info-inner">
                                                        <div class="text-center">
                                                            <img th:src="${c.img}" style="height: 300px; width: 500px" alt=""/>
                                                        </div>
                                                        </br>
                                                        <div class="profile-details-hr">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-xs-6">
                                                                    <p><b>Title: </b>[[${c.title}]]</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                                                    <p><b>Author: </b>[[${c.author}]]</p>
                                                                </div>
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                                                    <p><b>Date: </b>[[${c.createAt}]]</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-xs-6">
                                                                    <p><b>Short description: </b> [[${c.shortDescribe}]]
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12 col-xs-6">
                                                                    <p><b>Description: </b></p>
                                                                    <p th:text="${c.describe}"></p>
                                                                    <p th:text="${c.describe1}"></p>
                                                                    <p th:text="${c.describe2}"></p>
                                                                    <p th:text="${c.describe3}"></p>
                                                                    <p th:text="${c.describe4}"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End View pop-up-->
                                    <!-- Start Update pop-up-->
                                    <div th:id="'myUpdateModal'+*{c.id}" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">Update</h4>
                                                </div>
                                                <form th:action="@{/news/edit}" method="post" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        <div style="margin: 0 auto;" class="profile-info-inner">
                                                            <div class="profile-details-hr">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-xs-6">
                                                                        <p><b>ID</b></p>
                                                                        <div class="form-group">
                                                                            <input th:value="*{c.id}" name="id" type="text" class="form-control" placeholder="ID" readonly="readonly">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-xs-6">
                                                                        <p><b>Title</b></p>
                                                                        <div class="form-group">
                                                                            <input th:value="*{c.title}" name="title" type="text" class="form-control" placeholder="Title">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                                                        <div class="address-hr">
                                                                            <p><b>Author</b></p>
                                                                            <div class="form-group">
                                                                                <input th:value="*{c.author}" name="author" type="text" class="form-control" placeholder="Author">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                                                        <div class="address-hr">
                                                                            <p><b>Date</b></p>
                                                                            <div class="form-group">
                                                                                <input th:value="*{c.createAt}" name="createAt" id="createdDate" class="form-control" placeholder="Date Time">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-xs-6">
                                                                        <p><b>Short description</b></p>
                                                                        <div class="form-group">
                                                                            <input th:value="*{c.shortDescribe}" name="shortDescribe" type="text" class="form-control" placeholder="Short description">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-12 col-xs-6">
                                                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                                                            <p><b>Description</b></p>
                                                                            <div class="form-group res-mg-t-15">
                                                                                <textarea th:text="*{c.describe}" th:value="*{c.describe}" name="describe" placeholder="Description"></textarea>
                                                                            </div>
                                                                            <div class="form-group res-mg-t-15">
                                                                                <textarea th:text="*{c.describe1}" th:value="*{c.describe1}" name="describe1" placeholder="Description"></textarea>
                                                                            </div>
                                                                            <div class="form-group res-mg-t-15">
                                                                                <textarea th:text="*{c.describe2}" th:value="*{c.describe2}" name="describe2" placeholder="Description"></textarea>
                                                                            </div>
                                                                            <div class="form-group res-mg-t-15">
                                                                                <textarea th:text="*{c.describe3}" th:value="*{c.describe3}" name="describe3" placeholder="Description"></textarea>
                                                                            </div>
                                                                            <div class="form-group res-mg-t-15">
                                                                                <textarea th:text="*{c.describe4}"  th:value="*{c.describe4}" name="describe4" placeholder="Description"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-xs-6">
                                                                        <p><b>Image</b></p>
                                                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                                                            <div class="form-group">
                                                                                <div class="row mt-2">
                                                                                    <div class="col-sm-7"><input name="upImg" id="upImg" type="file" class="form-control" placeholder=""></div>
                                                                                    <div class="col-sm-5"><img th:src="${c.img}" style="width: 50%; height: 50%;" alt=""/></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Update pop-up-->
                                </tr>
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:if="${newss.hasPrevious()}"><a class="page-link" th:href="@{/news(page=${newss.number}-1,search=${param.search})}">Previous</a>
                                    </li>
                                    <li class="page-item"><a th:text="${newss.number} + 1"></a></li>
                                    <li class="page-item" th:if="${newss.hasNext()}"><a> / </a></li>
                                    <li class="page-item" th:if="${newss.hasNext()}"><a th:text="${newss.totalPages}"></a></li>
                                    <li class="page-item" th:if="${newss.hasNext()}"><a class="page-link" th:href="@{/news(page=${newss.number}+1,search=${param.search})}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End content area-->
    <!-- Start Create pop-up-->
    <div id="myCreateModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create</h4>
                </div>
                <form th:action="@{/news/create}" method="post" enctype="multipart/form-data" th:object="${newsModel}">
                    <div class="modal-body">
                        <div style="margin: 0 auto;" class="profile-info-inner">
                            <div class="profile-details-hr">

                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <p><b>Title</b></p>
                                        <div class="form-group">
                                            <input th:field="*{title}" name="title" type="text" class="form-control" placeholder="Title">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                            <p><b>Author</b></p>
                                            <div class="form-group">
                                                <input th:field="*{author}" name="author" type="text" class="form-control" placeholder="Author">
                                            </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <p><b>Short description</b></p>
                                        <div class="form-group">
                                            <input th:field="*{shortDescribe}" name="shortDescription" type="text" class="form-control" placeholder="Short description">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                            <p><b>Description</b></p>
                                            <div class="form-group res-mg-t-15">
                                                <textarea th:field="*{describe}" name="description" placeholder="Description"></textarea>
                                            </div>
                                            <div class="form-group res-mg-t-15">
                                                <textarea th:field="*{describe1}" name="description" placeholder="Description"></textarea>
                                            </div>
                                            <div class="form-group res-mg-t-15">
                                                <textarea th:field="*{describe2}" name="description" placeholder="Description"></textarea>
                                            </div>
                                            <div class="form-group res-mg-t-15">
                                                <textarea th:field="*{describe3}" name="description" placeholder="Description"></textarea>
                                            </div>
                                            <div class="form-group res-mg-t-15">
                                                <textarea th:field="*{describe4}" name="description" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <p><b>Image </b></p>
                                        <div class="form-group">
                                            <input name="upImg"  type="file" class="form-control" placeholder="Image">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Create pop-up-->

    <!--Start footer-->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2022. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End footer-->
</div>
<!-- jquery
    ============================================ -->
<script th:src="@{admin/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- bootstrap JS
    ============================================ -->
<script th:src="@{admin/js/bootstrap.min.js}"></script>
<!-- wow JS
    ============================================ -->
<script th:src="@{admin/js/wow.min.js}"></script>
<!-- price-slider JS
    ============================================ -->
<script th:src="@{admin/js/jquery-price-slider.js}"></script>
<!-- meanmenu JS
    ============================================ -->
<script th:src="@{admin/js/jquery.meanmenu.js}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script th:src="@{admin/js/owl.carousel.min.js}"></script>
<!-- sticky JS
    ============================================ -->
<script th:src="@{admin/js/jquery.sticky.js}"></script>
<!-- scrollUp JS
    ============================================ -->
<script th:src="@{admin/js/jquery.scrollUp.min.js}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script th:src="@{admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{admin/js/scrollbar/mCustomScrollbar-active.js}"></script>
<!-- metisMenu JS
    ============================================ -->
<script th:src="@{admin/js/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{admin/js/metisMenu/metisMenu-active.js}"></script>
<!-- morrisjs JS
    ============================================ -->
<script th:src="@{admin/js/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{admin/js/sparkline/jquery.charts-sparkline.js}"></script>
<!-- calendar JS
    ============================================ -->
<script th:src="@{admin/js/calendar/moment.min.js}"></script>
<script th:src="@{admin/js/calendar/fullcalendar.min.js}"></script>
<script th:src="@{admin/js/calendar/fullcalendar-active.js}"></script>
<!-- plugins JS
    ============================================ -->
<script th:src="@{admin/js/plugins.js}"></script>
<!-- main JS
    ============================================ -->
<script th:src="@{admin/js/main.js}"></script>
</body>

</html>