<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Model Specification</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.ico}">

    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- Bootstrap CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <!-- owl.carousel CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{css/owl.transitions.css}">
    <!-- animate CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/animate.css}">
    <!-- normalize CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/normalize.css}">
    <!-- meanmenu icon CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/meanmenu.min.css}">
    <!-- main CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/main.css}">
    <!-- educate icon CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/educate-custon-icon.css}">
    <!-- morrisjs CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{css/calendar/fullcalendar.print.min.css}">
    <!-- style CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- responsive CSS
      ============================================ -->
    <link rel="stylesheet" th:href="@{css/responsive.css}">
    <!-- modernizr JS
      ============================================ -->
    <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>
    <script th:src="@{js/validate/validate-form.js}"></script>
</head>

<body>

<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a th:href="@{/admin/home}"><img class="main-logo" th:src="@{img/logo/logo.png}" alt=""/></a>
            <strong><a th:href="@{/admin/home}"><img th:src="@{img/logo/logosn.png}" alt=""/></a></strong>
        </div>
        <!--Start left-scrollbar-->
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a title="Landing Page" th:href="@{/admin/home}" aria-expanded="false"><span
                                class="fa fa-home icon-wrap" aria-hidden="true"></span> <span class="mini-click-non">Home</span></a>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/user}" aria-expanded="false"><span
                                class="fa fa-user icon-wrap"></span> <span class="mini-click-non">User</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/user}"><span class="mini-sub-pro">All Users</span></a></li>
                            <li><a th:href="@{/admin/userban}"><span class="mini-sub-pro">All Banned Users</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/car}" aria-expanded="false"><span
                                class="fa fa-automobile icon-wrap"></span> <span class="mini-click-non">Car</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/car}"><span class="mini-sub-pro">All Cars</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/brand}" aria-expanded="false"><span
                                class="glyphicon glyphicon-menu-hamburger icon-wrap"></span> <span
                                class="mini-click-non">Brand</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/brand}"><span class="mini-sub-pro">All Brands</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/auctionroom}" aria-expanded="false"><span
                                class="fa fa-window-maximize icon-wrap"></span> <span class="mini-click-non">Auction Room</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/auctionroom}"><span class="mini-sub-pro">All Auction Room</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/model}" aria-expanded="false"><span
                                class="glyphicon glyphicon-th-large icon-wrap"></span> <span class="mini-click-non">Model</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/model}"><span class="mini-sub-pro">All Model</span></a></li>
                            <li><a th:href="@{/admin/modelSpec}"><span class="mini-sub-pro">All Model Specification</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" th:href="@{/admin/news}" aria-expanded="false"><span class="fa fa-newspaper-o icon-wrap"></span> <span class="mini-click-non">News</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a th:href="@{/admin/news}"><span class="mini-sub-pro">All News</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="#" aria-expanded="false"><span
                                class="fa fa-gamepad icon-wrap"></span> <span
                                class="mini-click-non">Game Play</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="#"><span class="mini-sub-pro">Game Play</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="wishlist.html" aria-expanded="false"><span
                                class="fa fa-heart icon-wrap"></span> <span class="mini-click-non">Wishlist</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a href="wishlist.html"><span class="mini-sub-pro">View</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--End left-scrollbar-->
    </nav>
</div>

<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a th:href="@{/admin/home}"><img class="main-logo" th:src="@{img/logo/logo.png}" alt=""/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="fa fa-align-justify"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12"></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                                   class="nav-link dropdown-toggle">
                                                    <img th:src="@{img/profile/user.png}" alt=""/>
                                                    <span class="admin-name" th:text="${userName}"></span>
                                                    <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                </a>
                                                <ul role="menu"
                                                    class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    <li><a th:href="@{/logout}"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a th:href="@{/admin/home}">Home</a></li>

                                    <li><a data-toggle="collapse" data-target="#demoevent" th:href="@{/admin/user}">User <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul id="demoevent" class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/user}">All Users</a></li>
                                            <li><a th:href="@{/admin/userban}">All Banned Users</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" th:href="@{/admin/car}">Car <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/car}">All Cars</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" th:href="@{/admin/brand}">Brand <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/brand}">All Brands</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" th:href="@{/admin/auctionroom}">Auction Room <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/auctionroom}">All Auction Room</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" th:href="@{/admin/model}">Model <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/model}">All Model</a></li>
                                            <li><a th:href="@{/admin/modelSpec}">All Model Specification</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" th:href="@{/admin/news}">News <span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a th:href="@{/admin/news}">All News</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Game Play<span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul class="collapse dropdown-header-top">
                                            <li><a href="#">Game Play</a></li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demopro" href="#">Wishlist<span
                                            class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                        <ul id="demopro" class="collapse dropdown-header-top">
                                            <li><a href="wishlist.html">All</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list single-page-breadcome">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <form th:action="@{/admin/modelSpec}" method="get" role="search" class="sr-input-func">
                                            <input id="search" name="search" type="text" placeholder="Search..." class="search-int form-control">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a th:href="@{/admin/home}">Home</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Model Specification</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Content area-->
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Model Specification List</h4>
                        <div class="add-product">
                            <a href="#myCreateModal" data-toggle="modal">Add New Model Specification</a>
                        </div>
                        <div th:if="${success} != null">
                            <div class="alert alert-success text-center" role="alert">[[${success}]]
                            </div>
                        </div>
                        <div th:if="${fail} != null">
                            <div class="alert alert-danger text-center" role="alert">[[${fail}]]
                            </div>
                        </div>
                        <div class="asset-inner">
                            <div th:if="${#lists.isEmpty(modelSpecs)}">
                                <h6 style="color: red;" th:text="${lst_empty}"></h6>
                            </div>
                            <table>
                                <tr>
                                    <th>No</th>
                                    <th>Name Type Model</th>
                                    <th>Seat Number</th>
                                    <th>Setting</th>
                                </tr>
                                <tr th:unless="${not #lists.isEmpty(modelSpecs)}">
                                <tr th:each="c,loop :${modelSpecs}">
                                    <td th:text="${loop.count}"></td>
                                    <td th:text="${c.nameType}"></td>
                                    <td th:text="${c.seatNumber}"></td>
                                    <td>
                                        <button title="Edit" class="pd-setting-ed"><a data-toggle="modal" th:attr="data-target='#myUpdateModal'+*{c.id}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></button>
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><a th:onclick="showMess([[${c.id}]])"><i class="fa fa-trash-o" aria-hidden="true"></i></a></button>
                                    </td>
                                    <!-- Start Update pop-up-->
                                    <div th:id="'myUpdateModal'+*{c.id}" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">Update</h4>
                                                </div>
                                                <form th:action="@{/admin/modelSpec/edit}" method="post" enctype="multipart/form-data">
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-sm-12 col-xs-6"><p><b>ID of Type Model</b></p>
                                                                <div class="form-group">
                                                                    <input th:value="*{c.id}" name="id" id="id" type="text" class="form-control" readonly="readonly">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-xs-6"><p><b>Name Type Model</b></p>
                                                                <div class="form-group">
                                                                    <input th:value="*{c.nameType}" name="nameType" type="text"
                                                                           class="form-control" placeholder="Name">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-xs-6"><p><b>Seat Number</b></p>
                                                                <div class="form-group">
                                                                    <input th:value="*{c.seatNumber}" name="seatNumber" type="number" min="1" class="form-control"
                                                                           placeholder="Seat">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Update pop-up-->
                                </tr>
</tr>
                            </table>
                        </div>
                        <div th:if="${not #lists.isEmpty(modelSpecs)}">
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:if="${modelSpecs.hasPrevious()}"><a class="page-link" th:href="@{/admin/modelSpec(page=${modelSpecs.number}-1,search=${param.search})}">Previous</a></li>
                                    <li class="page-item"><a th:text="${modelSpecs.number} + 1"></a></li>
                                    <li class="page-item" th:if="${modelSpecs.hasNext()}"><a> / </a></li>
                                    <li class="page-item" th:if="${modelSpecs.hasNext()}"><a th:text="${modelSpecs.totalPages}"></a></li>
                                    <li class="page-item" th:if="${modelSpecs.hasNext()}"><a class="page-link" th:href="@{/admin/modelSpec(page=${modelSpecs.number}+1,search=${param.search})}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End content area-->
    <!-- Start Create pop-up-->
    <div id="myCreateModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create</h4>
                </div>
                <form action="#" th:action="@{/admin/modelSpec/create}" method="post" th:object="${modelSpecieModel}"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><b>Name Type Model</b>
                                <div class="form-group">
                                    <input th:field="*{nameType}" name="nameType" id="nameCreate" type="text"
                                           class="form-control" placeholder="Name" onchange="checkNameCreate()">
                                </div>
                                <div id="nameCreateCheck" style="display: none; color: red;">Type Model Car not Null or is Number</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-6"><b>Seat Number</b>
                                <div class="form-group">
                                    <input th:field="*{seatNumber}" name="seatNumber" id="seatNumber"  type="number" min="1"
                                           class="form-control" placeholder="Seat" onchange="checkSeatNumber()">
                                </div>
                                <div id="seatNumberCheck" style="display: none; color: red;">Number of Seats from 2 -> 34 seats</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="create-btn" type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End Create pop-up-->

    <!--Start footer-->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2022. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End footer-->
</div>

<!-- jquery
    ============================================ -->
<script th:src="@{js/vendor/jquery-1.12.4.min.js}"></script>
<!-- bootstrap JS
    ============================================ -->
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- wow JS
    ============================================ -->
<script th:src="@{js/wow.min.js}"></script>
<!-- price-slider JS
    ============================================ -->
<script th:src="@{js/jquery-price-slider.js}"></script>
<!-- meanmenu JS
    ============================================ -->
<script th:src="@{js/jquery.meanmenu.js}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script th:src="@{js/owl.carousel.min.js}"></script>
<!-- sticky JS
    ============================================ -->
<script th:src="@{js/jquery.sticky.js}"></script>
<!-- scrollUp JS
    ============================================ -->
<script th:src="@{js/jquery.scrollUp.min.js}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script th:src="@{js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{js/scrollbar/mCustomScrollbar-active.js}"></script>
<!-- metisMenu JS
    ============================================ -->
<script th:src="@{js/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{js/metisMenu/metisMenu-active.js}"></script>
<!-- morrisjs JS
    ============================================ -->
<script th:src="@{js/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{js/sparkline/jquery.charts-sparkline.js}"></script>
<!-- calendar JS
    ============================================ -->
<script th:src="@{js/calendar/moment.min.js}"></script>
<script th:src="@{js/calendar/fullcalendar.min.js}"></script>
<script th:src="@{js/calendar/fullcalendar-active.js}"></script>
<!-- plugins JS
    ============================================ -->
<script th:src="@{js/plugins.js}"></script>
<!-- main JS
    ============================================ -->
<script th:src="@{js/main.js}"></script>
<script th:inline="javascript">
    function showMess(id) {
        var option = confirm('Do you want delete ?');
        if (option === true){
            window.location.href = "modelSpec/delete/"+id;
        }
    }
</script>
</body>

</html>