<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CAB Auction</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
</head>

<body>
<style>
  .page404 {
    background: #fff;
    font-family: 'Arvo', serif;
  }

  .head404 {
    height: 700px;
    background-image: url(/assets/img/403.gif);
    background-size: cover;
    text-align: center;
  }

  .head404 h1 {
    font-size: 100px;
  }

  .btn_404 {
    color: #fff;
    padding: 10px 20px;
    background: #6796ee;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 20px;
  }
</style>
<section class="page404">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-9 col ">
        <div class="head404" >
          <h2>Looks like you're lost</h2>
          <p>You do not have permission to access this page!</p>
          <a th:href="@{/login}" class="btn_404">Go to Login</a>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>