<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CAB Auction</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/connectWallet.css" rel="stylesheet">

</head>

<body style="background: url('/assets/img/bg-room.png');">
  <header id="header" class="fixed-top d-flex align-items-center header-transparent bg-black">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="home.html">CAB Auction</a></h1>
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="Home.html">Home</a></li>
              <li><a class="nav-link scrollto" href="home.html">Brand</a></li>
              <li><a class="nav-link scrollto " href="home.html">Auction Room</a></li>
              <li><a class="nav-link scrollto" href="blog.html">News</a></li>
              <li><a class="nav-link scrollto" href="guideline.html">Guideline</a></li>
              <li><a class="nav-link scrollto " href="home.html">About Us</a></li>
            </ul>
            <a href="connectWallet.html" style="background-color: rgb(66, 180, 66); padding-right: 30px;" class="connectwallet">Connect
              wallet</a>
            <a href="PeronalProfile.html"><i class="bi bi-person-circle" style="font-size: 30px;"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-8 offset-sm-2">
            <div class="logo text-center">
              <img src="assets/img/hummer.png">
            </div>
            <div class="contant text-center m-5">
              <h1>Connect wallet</h1>
              <p>Connect with your available wallet or create new wallet to join our marketplace</p>
              <button id="connectButton"><img src="assets/img/MetaMask_Fox.svg.png">Login with MetaMask</button>
              <div><img class="line" src="assets/img/line.jpg"></div>
            <h5>We do not own your private keys and cannot access your funds without your confirmation.</h5>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="module" src="../"></script>
  <script type="module" src="/assets/js/connectWallet.js"></script>

</body>
</html>