<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot Password</title>
   <link href="css/ForgotPassword.css" rel="stylesheet">
  </head>
  <body>

<form action="" class="form">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
 <div class="form-inner">
      <a class="back" href="login.html" >Back</a>
      <h2>Enter your email</h2>
      <div class="content">
            <input class="input" type="text" placeholder="Email" />
            <button class="btn">SEND</button>
      </div>
 </div>
</form>

  </body>
</html>