<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<table class="center">
    <h1>List Brand</h1>
        <button><a th:href="@{/brand/create}">Create</a></button>
    <tr style="color: green" th:if="${message}">[[${message}]]</tr>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Img</th>
        <th>Action</th>
    <tr th:each="c,loop :${brands}">
        <td th:text="${loop.count}"></td>
        <td th:text="${c.brandName}"></td>
        <td><img th:src="${c.imgPath}" height="50" width="50"></td>
        <td>
            <a th:href="@{/brand/edit/{id}(id=${c.id})}">edit</a>
            <a th:href="@{/brand/delete/{id}(id=${c.id})}">delete</a>
            <a>view</a>
        </td>
    </tr>
</table>
<button th:if="${brands.hasPrevious()}"><a th:href="@{/brand(page=${brands.number}-1)}"><<<<<<</a></button>
<b th:text="${brands.number} + 1"></b> / <b th:text="${brands.totalPages}"></b>
<button th:if="${brands.hasNext()}"><a th:href="@{/brand(page=${brands.number}+1)}">>>>>>></a></button>

</body>
</html>