<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CAB Auction</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/PersonalProfile.css" rel="stylesheet">
    <link href="assets/css/myActive.css" rel="stylesheet">

</head>

<body style="background: url(/assets/img/about-bg1.png);">
<th:block th:include="/header"></th:block>
    <div class="container rounded mt-200 mb-5">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 border-right bg-white rounded-pill">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-2" th:src="@{'/assets/img/avatar/'+${INFOR.avatar}}">
                    <span class="font-weight-bold" th:text="${username}"></span>
                    <span class="text-black-50" th:text="${email}"></span>
                </div>
                <div class="d-flex flex-column text-center">
                    <a href="myActive.html" class="font-weight-bold h5 text-info">My Active</a>
                    <a href="PeronalProfile.html" class="font-weight-bold mt-50 h5 text-black">Personal Profile</a>
                    <a href="winningBids.html" class="font-weight-bold mt-50 h5 text-black">Winning Bids</a>
                    <a href="myFavorite.html" class="font-weight-bold mt-50 mb-5 h5 text-black">My Favorite</a>

                </div>
            </div>
            <div class="col-md-7 border-right mt-200">
                <div class="p-3 bg-white profile" id="person-profile">
                    <div class="d-flex justify-content-between mb-3">
                        <h4>My Active</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4 active-bids text-center">
                            <img src="assets/img/coin.png">
                            <h2>80</h2>
                            <p>Active Bids</p>
                        </div>
                        <div class="col-md-4 active-bids text-center">
                            <img src="assets/img/logo1st.png">
                            <h2>15</h2>
                            <p>Items Won</p>
                        </div>
                        <div class="col-md-4 active-bids text-center">
                            <img src="assets/img/star.png">
                            <h2>115</h2>
                            <p>Favorites</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="assets/js/personalProfile.js"></script>
</html>