<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CAB Auction</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/PersonalProfile.css" rel="stylesheet">
    <link href="assets/css/winningBids.css" rel="stylesheet">

</head>

<body style="background: url(/assets/img/about-bg1.png);">
<header id="header" class="fixed-top d-flex align-items-center header-transparent bg-black">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-11 d-flex align-items-center justify-content-between">
                <h1 class="logo"><a href="home.html">CAB Auction</a></h1>
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="home.html">Brand</a></li>
                        <li><a class="nav-link scrollto " href="home.html">Auction Room</a></li>
                        <li><a class="nav-link scrollto" href="blog.html">News</a></li>
                        <li><a class="nav-link scrollto" href="guideline.html">Guideline</a></li>
                        <li><a class="nav-link scrollto " href="home.html">About Us</a></li>
                    </ul>
                    <a href="connectWallet.html" style="background-color: rgb(66, 180, 66); padding-right: 30px;"
                       class="connectwallet">Connect wallet</a>
                    <a href="PeronalProfile.html"><i class="bi bi-person-circle" style="font-size: 30px;"></i></a>
                </nav>
            </div>
        </div>

    </div>
</header>
<div class="container rounded mt-200 mb-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3 border-right bg-white rounded-pill h-25">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-2" src="assets/img/sy.jpg">
                <span class="font-weight-bold">Khang Nguyen</span>
                <span class="text-black-50">Nguyenkhang@gmail.com</span>
            </div>
            <div class="d-flex flex-column text-center">
                <a th:href="@{/myActive.html}" class="font-weight-bold h5 text-black">My Active</a>
                <a th:href="@{/personProfile}" class="font-weight-bold mt-50 h5 text-black">Personal Profile</a>
                <a href="winningBids.html" class="font-weight-bold mt-50 h5 text-black">Winning Bids</a>
                <a th:href="@{/myFavorite}" class="font-weight-bold mt-50 mb-5 h5 text-info">My Favorite</a>
                <a th:href="@{/logout}" class="font-weight-bold mt-50 mb-5 h5 text-black">Logout</a>
            </div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 bg-white profile" id="person-profile">
                <div class="d-flex justify-content-between mb-3">
                    <h4>My Favorite</h4>
                </div>
                <div class="row">
                    <div th:each="listFavorite:${listFavorite}" class="col-md-6 winning-bids text-center">
                        <img th:src="${listFavorite.imgPath}" class="rounded">
                        <a th:href="@{'/myFavorite/' + ${listFavorite.id}}"><i class="bi bi-star-fill text-warning"></i></a>
                        <h5 th:text="${listFavorite.carName}"></h5>
                        <p>Item Favorite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="assets/js/personalProfile.js"></script>
</html>