<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/Register.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body class="image-background" style="background-image: url('images/bg.jpg');">
    <section>
            <h2>Register</h2>
            <form action="#" class="signin-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group"> 
                    <input id="password" type="password" class="form-control" placeholder="Password" required>
                    <span class="img-eye"><img id="img-eye" src="images/eye.png" onclick="showHidden()"></span>
                </div>
                <div class="form-group">
                    <input id="re-password" type="password" class="form-control" placeholder="Re-Password" required>
                </div>
                <div class="form-group"> 
                    <input type="text" class="form-control" placeholder="Email" required>
                </div>
                <div class="wrapper">
                    <a href="" class="btn">
                        <span>Register</span>
                    </a>
                </div>
                <div class="register">
                    <a href="login.html" class="OrSign">&mdash; You have an account? Login now.&mdash;</a>
                </div>
                <div>
                    <p>Connect with us</p>
                    <img src="images/fb-icon.png"/>
                    <a class="fb" href="https://www.facebook.com/profile.php?id=100086433555570&is_tour_completed=true">Facebook</a>
                    <img src="images/twitter-icon.png" alt="" />
                    <a class="tw" href="https://www.facebook.com/profile.php?id=100086433555570&is_tour_completed=true">Twitter</a>
                </div>
            </form>
    </section>
</body>
<script>
    isBool = true;
    function showHidden(){
        if(isBool){
            document.getElementById("password").setAttribute("type","text");
            document.getElementById("img-eye").setAttribute("src","images/no-eye.png");
            isBool = false;
        } else {
            document.getElementById("password").setAttribute("type","password");
            document.getElementById("img-eye").setAttribute("src","images/eye.png");
            isBool = true;
        }
    }
</script>
</html>