<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Reset</h1>
        <form th:action="@{/user/savePassword}" method="post">
            <br/>
            <label class="col-sm-2">password</label>
            <span class="col-sm-5"><input class="form-control" id="password" name="newPassword" type="password" value="" /></span>
            <div class="col-sm-12"></div>
            <br/><br/>
            <label class="col-sm-2">confirm</label>
            <span class="col-sm-5"><input class="form-control" id="matchPassword" th:name="password" type="password" value="" /></span>
            <div class="col-sm-12"></div>
            <br/><br/>
            <label class="col-sm-2">confirm</label>
            <span class="col-sm-5"><input class="form-control" id="token" th:name="token" th:value="${param_token}" /></span>
            <div id="globalError" class="col-sm-12 alert alert-danger" style="display:none" >error</div>

            <div class="col-sm-12">
                <br/><br/>
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>