<html>

<head>
  <title>Đồng hồ đếm ngược bằng JS</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style>
    span {
      border: solid 1px #ACACAC;
      padding: 2px;
    }
  </style>
  <script>
    var h = 2; // Giờ
    var m = 3; // Phút
    var s = 4; // Giây

    var timeout = null; // Timeout

    function start() {


      if (s === -1) {
        m -= 1;
        s = 59;
      }

      if (m === -1) {
        h -= 1;
        m = 59;
      }

      if (h == -1) {
        clearTimeout(timeout);
        alert('Hết giờ');
        return false;
      }

      document.getElementById('h').innerText = h.toString();
      document.getElementById('m').innerText = m.toString();
      document.getElementById('s').innerText = s.toString();

      timeout = setTimeout(function () {
        s--;
        start();
      }, 1000);
    }

  </script>
</head>

<body>
  <div>
    <input type="button" value="Start" onclick="start()" />
  </div>

  <div>
    <span id="h">Giờ</span> :
    <span id="m">Phút</span> :
    <span id="s">Giây</span>
  </div>
</body>

</html>