<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<form action="/brand/edit" method="post" th:object="${brand}" enctype="multipart/form-data">
    <table class="center">
        <h1>Update Brand</h1>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Img</th>
            <th>Action</th>
        <tr>
            <td><input th:field="*{id}" readonly="readonly"></td>
            <td><input th:field="*{brandName}"></td>
            <td><img th:src="*{imgPath}" height="50" width="50"></td>
            <td><input name="upImg" type="file"></td>
        </tr>
        <tr>
            <td></td>
            <td style="color: red" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}"></td>
            <td style="color: red" th:if="${#fields.hasErrors('imgPath')}" th:errors="*{imgPath}"></td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-success" type="submit">update</button>
            </td>
            <td>
                <button type="button" onclick="cancelFrom()">Cancel</button>
            </td>
        </tr>

    </table>
</form>
<script type="text/javascript">
    function cancelFrom() {
        window.location = "/brand?page=0";
    }
</script>
</body>
</html>