.winning-bids{
    height: 300px;
    background-color: rgba(83, 189, 250, 0.39);
    border-radius: 20px;
    border: 5px solid #fff;
}

.winning-bids img {
    margin: 20px 0 12px 0;
    width: 95%;
    height: 65%;
}

.winning-bids i {
    margin-top: 5px;
    position: absolute;
}